@import url(reset.css);
@import url(fonts.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto-Regular, sans-serif;
}

/*=Promo Section=====================*/

.container {
    margin: 0 auto;
    width: 1140px;
    /*background-color: #901919;*/
}

.promo {
    height: 800px;
    background: url('../img/bg/main_bg.png') center center/cover no-repeat;
}
.logo {
    display: block;
    margin-top: 30px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 10px;
}

.logo_text {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
}

.above-title {
    margin-top: 35px;
}
.second-title {
    color: #F9BF3B;
    text-align: center;
    font-family: Roboto;
    font-size: 41px;
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}
.simple .main-title {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 80px;
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
}
.sub-title {
    margin-top: 20px;
}

.info-main-page {
    margin-top: 23px;
    display: block;
    width: 1144px;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 21px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px; /* 133.333% */
}
.info-main-page-bold {
    color: #F9BF3B;
    font-family: Roboto;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
}

.btn_intensive {
    display: block;
    margin: 0 auto;
    margin-top: 75px;
    width: 330px;
    height: 75px;
    background-color: #3AB6DA;
    box-shadow: 5px 5px 15px #505050;
    border-radius: 15px;
    border: none;
    cursor: pointer;


    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
}

.btn-scroll-down {
    display: block;
    margin: 0 auto;
}

.btn-scroll-down .arrow {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}

.know-more {
    margin: 0 auto;
    margin-top: 70px;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 100;
    text-transform: uppercase;
}

/*=Waitint Section=====================*/

.waiting, .finish {
    padding: 85px 0;
    min-height: 10px;
    background-color: #EFEFEF;
}
.waiting_items {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}
.waiting_item {
    width: 340px;
}
.waiting-title, .finish-title {
    color: #252525;
    text-align: center;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
}
.waiting-decor, .finish-decor {
    margin: 20px auto;
    background-color: rgba(249, 191, 59, 1);
    width: 220px;
    height: 10px;
    border-radius: 10px;
}
.waiting-subtitle {
    color: #4A4A4A;
    text-align: center;
    font-family: Roboto;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
}
.waiting-img {  
    width: 100%;
}
.waitng-text {
    margin-top: 26px;

    color: #4A4A4A;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
}

/*Section optimization===========*/

.optimization {
    padding: 110px 0;
    min-height: 10px;
    background: url('../img/bg/woman_bg.png')220px 90px no-repeat;
}
.optimization .optimization-title {
    position: relative;
    left: 390px;
    color: #299CBD;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;
}
.optimization .optimization-text {
    margin-top: 20px;
    position: relative;
    left: 390px;    
    width: 750px;
    color: #4A4A4A;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: 27px; /* 158.824% */
}
.optimization .optimization-text-bold {
    font-weight: 900;
}

/*Section Finish================*/
.finish {
    background: url('../img/bg/second_bg.png') center center/cover no-repeat;
    min-height: 10px;
}
.finish-title {
    color: white;
}

.finish-items {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.finish-item {
    width: 200px;
}
.finish-item-bg {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 115px;
    height: 115px;
    border-radius: 100%;
    background-color: #B4E2FF;;
}
.finish-img {

}
.finish-item-text {
    display: block;
    margin-top: 25px;
    color: #EFEFEF;
    text-align: center;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px; /* 117.647% */
}

/*Section Present======================*/

.present {
    background-color: #EFEFEF;
    min-height: 10px;
    padding: 85px 0;
}
.present-img {
    display: block;
    margin: 0 auto;
}
.present-text {
    margin-top: 45px;
    color: #252525;
    text-align: center;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 43px; /* 143.333% */
}


/*Section webinar==================================*/

.webinar {
    min-height: 10px;
    padding-top: 90px;
    padding-bottom: 50px;
}
.webinar-img {
    display: block;
    width: 342px;
    margin: 0 auto;

}
.webinar-title {
    margin-top: 35px;
    color: #252525;
    text-align: center;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 100% */
    text-transform: uppercase;
}
.webinar-time {
    margin-top: 30px;
    color: #299CBD;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: 36px; /* 100% */
    text-transform: uppercase;
}
.webinar-subtitle {
    margin-top: 25px;
    color: #4A4A4A;
    text-align: center;
    font-family: Roboto;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 86.957% */
}

/*Footer=================*/

.footer {
    padding: 55px 0;
    min-height: 10px;
    background-color: #1A1A1A;
}
.footer-links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.help {
    display: block;
    color: #888;
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 21px; /* 140% */
    text-decoration-line: underline;
}
.confidentiality {
    display: block;
    color: #888;
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 21px; /* 140% */
    text-decoration-line: underline;
}
.call {
    display: block;
    color: #888;
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 21px; /* 140% */
    text-decoration-line: none;
}